
<div class="home">
    <div class="card-deck text-center p-3 flex-column">
        <div (click)="navigate($event, 1)" class="card p-5 mb-4 shadow">
            <h2 class="card-title">
                   Admin
            </h2>
        </div>
        <div (click)="navigate($event, 0)" class="card p-5 mb-4 shadow">
                <h2 class="card-title">
                       Customer
                </h2>
        </div>
        <div (click)="navigate($event, 2)" class="card p-5 mb-4 shadow">
            <h2 class="card-title">
                   test
            </h2>
    </div>
    </div>
</div>