<div class="searchComponent">

  <section class="header mt-3 container-lg">

    <form #passwordForm="ngForm" class="left col-md-6 form-group" (ngSubmit)="searchReport()">
      <input class="form-control" type="text" id="keyword" name="keyword" placeholder="Search by keyword" required
        [(ngModel)]="keyword">
    </form>

    <div class="right col-md-6">
      <ul>
        applied filters
      </ul>

      <button class="btn btn-light" (click)="toggleOpenState()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="#2c8cfc"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
        </svg>
        <label class="ml-2 action-label">Filters</label>
      </button>
    </div>

  </section>

  <section class="filter-list container-lg pt-3" *ngIf="panelOpenState" [@inOutAnimation]>
    <form (ngSubmit)="searchReport()" class="mr-3 ml-3">

      <section class="top">

        <div class="form-group col-sm-12">
          <label>First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="ex) Jane"
            [(ngModel)]="firstName">
          <label>Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="ex) Doe"
            [(ngModel)]="lastName">
        </div>

        <div class="form-group col-sm-12">
          <label>Company</label>
          <input type="text" class="form-control" id="company" name="company" placeholder="ex) North example Hospital"
            [(ngModel)]="company">
          <label>Description</label>
          <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description">
        </div>

        <div class="form-group col-md-12">
          <label>Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="ex) email@example.com"
            [(ngModel)]="email">
          <label>Documnet Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="ex) CIO" [(ngModel)]="title">
        </div>

      </section>

      <hr>
      <section class="bottom">
        <div class="form-group col-sm-6">
          <label class="checkbox-inline mt-2">
            <input type="radio" class="ml-4" id="sent" name="filter" value="sent" [(ngModel)]="sent"
              (change)="onCheckboxChange('Sent', $event.target.checked)">Sent
          </label>
          <label class="checkbox-inline">
            <input type="radio" class="ml-4" id="resent" name="filter" value="resent" [(ngModel)]="resent"
              (change)="onCheckboxChange('Resent', $event.target.checked)">Resent
          </label>
          <label class="checkbox-inline">
            <input type="radio" class="ml-4" id="viewed" name="filter" value="viewed" [(ngModel)]="viewed"
              (change)="onCheckboxChange('Viewed', $event.target.checked)">Viewed
          </label>
          <label class="checkbox-inline">
            <input type="radio" class="ml-4" id="agreed" name="filter" value="agreedsent" [(ngModel)]="agreed"
              (change)="onCheckboxChange('Agreed', $event.target.checked)">Agreed
          </label>
        </div>

        <div class="action-list">
          <button type="button" class="btn btn-outline-warning" (click)="clearFilters()"><span class="fa fa-ban"></span>
            Clear filter
          </button>
          <button type="submit" class="btn btn-primary ml-3">
            Apply Filters
          </button>
        </div>
      </section>
    </form>

  </section>


</div>