.filter-list {
  height: 260px;
}

.header {
  display: flex;
  flex-direction: row;
}

.left {
  margin-bottom: 0;
}
.right {
  display: grid;
  justify-content: flex-end;
  grid-auto-flow: column;
  align-items: center;
  gap: 4px;
  /* color: #2c8cfc; */
}
.right .action-label {
  margin-bottom: 0;
  color: #2c8cfc;
  font-weight: bold;
  cursor: pointer;
}

.filter-list {
  background-color: #f8f9fa;
  border-radius: 5px;
}

.filter-list .top{
    display:grid;
    grid-auto-flow: column;
    justify-content: flex-start;

}
.filter-list .bottom{
    display:flex;
    justify-content: space-between;
}