.nv-file-over { 
    border: dotted 3px red;
}
.upload-page{
    padding: 20px;
    margin:  0 auto;
    max-width: 700px;
}
.upload-page > section{
    margin-bottom: 40px !important;
}
.my-drop-zone{
    height: 160px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
    opacity: 0.8;
}
.file-input{
    margin-bottom: 1rem;
    cursor: pointer;
}
.file-input > button{
    cursor: pointer;
}

.section-divider{
    height: 2rem;
    width: 100%;
}

.drop-icon{
    color: #ced4da;
}

.btn-success{
    background-color:#2c8cfc;
}

.action-list{
   
}